<%- include("header") %>
<div class="box">
<h1 id="heading">About This Simple To-do-List</h1>
<p style="text-align: center;">This is my second styled web app project from EJS module</p>
</div>
<%- include("footer") %>