h1{
    color: red;
    font-size: 2rem;
}

img{
    background: red;
}
.brocoli{
    background: red;
    border-radius: 100%;
    border: 2px green solid;
}
.brocoli:hover{
    background: red;
    border-radius: 100%;
    border: 2px black solid;
}