<%- include("partials/header") %>

<h1>Compose</h1>
<div class="form-group">
<form action="/compose" method="post">
    <label for="postTitle">Title</label>
    <input class="form-control"  type="text" name="postTitle">
</div>
<div class="form-group">
    <label for="newPost">Post</label>
    <textarea class="form-control" name="newPost" rows="4"></textarea>

</div>
<input class="btn btn-primary" type="submit" value="Publish" >

</form>

<%- include("partials/footer") %>