body{
    padding: 0;
    margin: 0;
    background: url(../Assets/home/background-home-desktop.jpg)  no-repeat;
   
}

/* NavBAR */

#navbar{
display: block;
margin: 0;
padding: 0;
border: 4px solid red;
}
.nav-cus{
padding: 0 0% 0 50%;
display: inline-block;
}
.nav-link{

text-decoration: none;
color: white;
list-style: none;
font-size: larger;

}
.nav-item{
display: inline-block ;
text-decoration: none;
color: white;
list-style: none;
padding: 0 0%;

}

#horizontal-rule{
display: inline-block;
position: relative   ;
border-top: 15px dashed white;
width: 1rem;
padding: 0 4%;
        
}